<h2 class="title is-size-4">Discover</h2>

<div class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Users</p>
      <p class="title"><%= User.count %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Posts</p>
      <p class="title"><%= Post.count %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Comments</p>
      <p class="title"><%= Comment.count %></p>
    </div>
  </div>
</div>

<h3 class="title is-size-5">Users</h3>

<article class="columns is-variable is-multiline is-8 m-2">
  <% @users.each do |user| %>
    <div class="column is-flex-grow-0 box m-1 has-text-centered">
      <%= link_to user do %>
        <figure class="image is-128x128">
          <%= image_tag user.photo, class: 'image-128x128 is-rounded' %>
        </figure>
        <p class="title is-4 mt-2"><%= user.full_name %></p>
      <% end %>
    </div>
  <% end %>
</article>
