<article class="content">
  <h2><%= @user.full_name %></h2>
  <% if @user.gender %>
    <p>Gender: <%= @user.gender %></p>
  <% end %>
  <p>Age: <%= (Time.now - @user.birthday).to_i / 31556952 %></p>
  <h3>Latest Activity</h3>
  <article class="box columns is-1 is-multiline is-variable">
    <% @activity.each do |resource| %>
      <div class="column is-one-third-tablet is-one-quarter-desktop">
        <% if resource.class == Post %>
          <%= render '/posts/post', post: resource, like: resource.find_or_initialize_like(current_user) %>
        <% else %>
          <%= render '/comments/comment', comment: resource %>
        <% end %>
      </div>
    <% end %>
  </article>
</article>
