<article id="<%= comment.slug %>" class="media">
  <figure class="media-left">
    <p class="image is-48x48">
      <%= image_tag comment.user.photo, class: 'image-48x48' %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p class="m-0">
        <strong><%= link_to comment.user.full_name, comment.user %></strong>
        <span class="is-size-6 has-text-danger">♥</span> <%= comment.likes.length %>
      </p>
      <p class="word-wrapped"><%= comment.body %></p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <% if controller_name == 'registrations' %>
          <%= link_to "Show #{comment.commentable.class}", comment.commentable, class: 'button is-success mr-3' %>
        <% elsif controller_name == 'comments' %>
        <% else %>
          <% if current_user == comment.user %>
            <%= turbo_frame_tag comment, class: 'level-item' do %>
              <%= link_to 'Edit', edit_comment_path(comment), class: 'level-item' %>
            <% end %>
            <%= form_with(model: comment, method: :delete, class: 'level-item') do |f| %>
              <%= f.submit 'Delete', class: 'comment-submit' %>
            <% end %>
          <% else %>
            <% if like.new_record? %>
              <%= form_with(url: likes_path(likeable: { likeable_type: 'Comment', likeable_id: comment.id }, path: request.path), class: 'level-item') do |f| %>
                <%= f.submit 'Like', class: 'comment-submit' %>
              <% end %>
            <% else %>
              <%= form_with(url: like_path(like, path: request.path), method: :delete, class: 'level-item') do |f| %>
                <%= f.submit 'Unlike', class: 'comment-submit' %>
              <% end %>
            <% end %>
          <% end %>
          <%= turbo_frame_tag :comment_reply, class: 'level-item' do %>
            <%= link_to 'Reply', new_comment_path(parent: comment.slug), class: 'level-item' %>
          <% end %>
        <% end %>
        <time class="level-item has-text-weight-light">
          <%= distance_of_time_in_words(Time.now, comment.created_at) %> ago
          <% if comment.edited? %>
            (edited <%= distance_of_time_in_words(Time.now, comment.updated_at) %> ago)
          <% end %>
        </time>
      </div>
    </nav>
  </div>
</article>
