<%= form_with(model: comment) do |f| %>
  <%= f.hidden_field :parent_id, value: comment.parent_id %>
  <%= f.hidden_field :commentable_type, value: comment.commentable_type %>
  <%= f.hidden_field :commentable_id, value: comment.commentable_id %>
  <div class="field">
    <%= f.text_area :body, placeholder: 'Add a comment', rows: 2, class: 'textarea is-info' %>
  </div>
  <div class="action">
    <%= f.submit 'Add Comment', class: 'button is-primary' %>
  </div>
<% end %>
