<%= form_with(model: comment) do |f| %>
  <%= f.hidden_field :parent, value: comment.parent %>
  <%= f.hidden_field :commentable_type, value: commentable.class %>
  <%= f.hidden_field :commentable_id, value: commentable.id %>
  <div class="field">
    <%= f.text_area :body, placeholder: 'Add a comment', rows: 2, class: 'textarea' %>
    <%= render 'public/input_errors', resource: comment, attribute: :body %>
  </div>
  <div class="action">
    <%= f.submit class: 'button is-primary' %>
  </div>
<% end %>
