<div class="my-4 has-text-centered">
  <h2 class="title"><%= @user.full_name %>'s Friends(<%= @friends.length %>)</h2>
  <%= link_to 'Back to Profile', @user, class: 'button is-primary' %>
</div>
<%= turbo_frame_tag @user do %>
  <article class="columns is-variable is-multiline is-8 m-2">
    <% @friends.each do |friend| %>
      <div class="column is-flex-grow-0 box m-1 has-text-centered">
        <%= link_to friend do %>
          <figure class="image is-128x128">
            <%= image_tag friend.photo, class: 'image-128x128 is-rounded' %>
          </figure>
          <p class="title is-4 mt-2"><%= friend.full_name %></p>
        <% end %>
        <% if current_user == @user || current_user == friend %>
          <%= form_with(url: friendship_path(user_id: @user.id, friend_id: friend.id), method: :delete) do |f| %>
            <%= f.submit 'Unfriend', class: 'button is-danger is-small mt-2' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </article>
  <% if @friends.length >= 60 %>
    <div class="pagination-load" hidden>
      <%= turbo_frame_tag @user do %>
        <div class="has-text-centered">
          <%= link_to 'Load more', friends_user_path(@user, p: @page + 1), class: 'button is-link' %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<% if @friends.length >= 60 || @page > 1 %>
  <div class="pagination-controls">
    <%= render 'public/resource_pagination', resources: @friends, page: @page, max_resource_count: 60, resource_path: friends_user_path(@user) %>
  </div>
<% end %>
