<div class="card">
  <div class="card-image">
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <%= image_tag @user.photo, class: 'image-128x128' %>
        </figure>
        <aside class="menu mt-2">
          <ul class="menu-list has-text-weight-bold">
            <li>
              <%= link_to 'Posts', user_path(@user) %>
            </li>
            <li>
              <%= link_to 'Comments', comments_user_path(@user), data: { turbo_frame: "user_#{@user.id}" } %>
            </li>
            <li>
              <%= link_to 'Friends', friends_user_path(@user), data: { turbo_frame: "user_#{@user.id}" } %>
            </li>
            <% if current_user != @user && !current_user.friend?(@user) && !current_user.friend_request?(@user) %>
              <li>
                <%= link_to 'Send Friend Request', new_friend_request_path(candidate_id: @user.slug) %>
              </li>
            <% end %>
          </ul>
        </aside>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= @user.full_name %></p>
        <div class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Age</p>
              <p class="title"><%= (Time.now - @user.birthday).to_i / 31556952 %></p>
            </div>
          </div>
          <% if !@user.gender.empty? %>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Gender</p>
                <p class="title"><%= @user.gender %></p>
              </div>
            </div>
          <% end %>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Posts</p>
              <p class="title"><%= @user.posts.length %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Comments</p>
              <p class="title"><%= @user.comments.length %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Friends</p>
              <p class="title"><%= @user.friends.length %></p>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <%= turbo_frame_tag @user do %>
            <article class="columns is-flex-direction-column is-align-items-center is-4 is-variable my-3">
              <% @posts.each do |post| %>
                <div class="column is-full-tablet is-half-desktop">
                  <%= render post, like: post.find_or_initialize_like(current_user), tags: post.tag_list.to_a, compact?: true %>
                </div>
              <% end %>
            </article>
            <% if @posts.length >= 20 %>
              <div class="pagination-load" hidden>
                <%= turbo_frame_tag @user do %>
                  <div class="has-text-centered">
                    <%= link_to 'Load more', user_path(@user, p: @page + 1), class: 'button is-link' %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <% if @posts.length >= 20 || @page > 1 %>
            <div class="pagination-controls">
              <%= render 'public/resource_pagination', resources: @posts, page: @page, max_resource_count: 20, resource_path: user_path(@user) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
