<div class="card">
  <div class="card-image">
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <%= image_tag @user.photo, class: 'image-128x128' %>
        </figure>
      </div>
    <div class="media-content">
      <p class="title is-4"><%= @user.full_name %></p>
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Age</p>
            <p class="title"><%= (Time.now - @user.birthday).to_i / 31556952 %></p>
          </div>
        </div>
        <% if !@user.gender.empty? %>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Gender</p>
              <p class="title"><%= @user.gender %></p>
            </div>
          </div>
        <% end %>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Posts</p>
            <p class="title"><%= @user.posts.length %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Comments</p>
            <p class="title"><%= @user.comments.length %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Friends</p>
            <p class="title"><%= @user.friends.length %></p>
          </div>
        </div>
      </div>
      <div class="columns is-flex-direction-column is-align-items-center mt-6">
        <% @activity.each do |resource| %>
          <article class="column is-3 media p-0">
            <div class="media-content">
              <div class="content">
                <p class="is-size-5">
                  <strong><%= @user.full_name %></strong>
                  <% if resource.class == Comment %>
                    has commented on a <%= resource.commentable.class %>!
                    <br>
                    <span class="is-size-6"><%= resource.body %></span>
                  <% elsif resource.class == Post %>
                    has created a new Post!
                    <br>
                    <span class="is-size-6"><%= resource.content %></span>
                  <% end %>
                </p>
                <p>
                  <span class="is-size-7 mr-1"><%= distance_of_time_in_words(Time.now, resource.created_at) %> ago</span>
                  <%= link_to 'Show', (resource.class == Comment ? resource.commentable : resource), class: '' %>
                </p>
              </div>
            </div>
          </article>
        <% end %>
      </div>
    </div>
  </div>
</div>
