<div class="card">
  <div class="card-image">
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <%= image_tag @user.photo, class: 'image-128x128' %>
        </figure>
        <aside class="menu mt-2">
          <ul class="menu-list has-text-weight-bold">
            <li>
              <%= link_to 'Activity', activity_user_path(@user), data: { turbo_frame: "user_#{@user.id}" } %>
            </li>
            <li>
              <%= link_to 'Posts', posts_user_path(@user), data: { turbo_frame: "user_#{@user.id}" } %>
            </li>
            <li>
              <%= link_to 'Comments', comments_user_path(@user), data: { turbo_frame: "user_#{@user.id}" } %>
            </li>
            <li>
              <%= link_to 'Friends', friends_user_path(@user), data: { turbo_frame: "user_#{@user.id}" } %>
            </li>
            <% if current_user != @user && !current_user.friend?(@user) && !current_user.friend_request?(@user) %>
              <li>
                <%= link_to 'Send Friend Request', new_friend_request_path(candidate_id: @user.slug) %>
              </li>
            <% end %>
          </ul>
        </aside>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= @user.full_name %></p>
        <div class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Age</p>
              <p class="title"><%= (Time.now - @user.birthday).to_i / 31556952 %></p>
            </div>
          </div>
          <% if !@user.gender.empty? %>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Gender</p>
                <p class="title"><%= @user.gender %></p>
              </div>
            </div>
          <% end %>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Posts</p>
              <p class="title"><%= @user.posts.length %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Comments</p>
              <p class="title"><%= @user.comments.length %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Friends</p>
              <p class="title"><%= @user.friends.length %></p>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <%= turbo_frame_tag @user, src: activity_user_path(@user) do %>
            <% if action_name == 'activity' %>
              
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
