<div class="pl-5">
<h2 class="title">Log in</h2>

<div class="box py-0 px-0">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field py-1">
    <%= f.label :email, class: "is-size-5 has-text-weight-bold" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
  </div>

  <div class="field py-1">
    <%= f.label :password, class: "is-size-5 has-text-weight-bold" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field py-1">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: "is-size-5 has-text-weight-bold" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "button is-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
