<div class="mt-4 columns is-flex-direction-column is-align-items-center has-text-centered">
  <div class="column">
    <h2 class="title">Sign in</h2>
  </div>
  <div class="column p-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "label is-size-5" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
      </div>
      <div class="field">
        <%= f.label :password, class: "label is-size-5" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "is-size-5 has-text-weight-bold" %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Log in", class: "button is-primary" %>
      </div>
    <% end %>
    <div class="field">
      <%= form_with(url: '/auth/facebook', data: { turbo: false }) do |f| %>
        <%= f.submit 'Sign in with Facebook', class: 'button is-info my-2' %>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
