<h2 class="title is-size-4 has-text-weight-light">
  <%= link_to @friend_request.user.full_name, @friend_request.user, class: 'has-text-weight-bold' %>
  would like to become your friend!
</h2>
<% if !@friend_request.message.empty? %>
  <article class="message is-link">
    <div class="message-header">
      <p>With the following message:</p>
    </div>
    <div class="message-body">
      <p class="word-wrapped"><%= @friend_request.message %></p>
    </div>
  </article>
<% end %>
<div class="has-text-centered">
  <%= form_with(model: @friend_request, method: :delete) do |f| %>
    <%= f.submit 'Accept', class: 'button is-success mr-1' %>
    <%= f.submit 'Decline', class: 'button is-danger' %>
  <% end %>
</div>
