<%= form_with(model: post) do |f| %>
  <div class="columns is-multiline is-variable is-4">
    <div class="column is-flex-grow-0">
      <div class="field">
        <%= f.label :content, class: 'label is-size-5' %>
        <%= f.text_area :content, class: 'textarea' %>
        <%= render 'public/input_errors', resource: post, attribute: :content %>
      </div>
    </div>
    <div class="column is-flex-grow-0">
      <div class="field">
        <h3 class="label is-size-5">Photos</h3>
        <p class="is-size-7 mb-2">
          <i>Max file size: 3MB</i>
        </p>
        <%= f.fields_for :images do |image_f| %>
          <% if image_f.object.new_record? %>
            <%= image_f.file_field :photo %>
            <%= image_f.text_field :remote_photo, class: 'input my-2', placeholder: 'https://example.com/images/photo.png' %>
          <% else %>
            <figure class="image">
              <%= image_tag image_f.object.photo_url, class: 'image-128x128' %>
            </figure>
            <%= image_f.label :_destroy, class: 'checkbox button is-small is-rounded my-2' do %>
              <%= image_f.check_box :_destroy %>
              Delete
            <% end %>
            <br>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="column is-flex-grow-0">
      <div class="field">
        <h3 class="label is-size-5">Links</h3>
        <%= f.fields_for :links do |links_f| %>
          <div class="field">
            <%= links_f.text_field :body, placeholder: 'http://example.com', class: 'input' %>
            <%= render 'public/input_errors', resource: links_f.object, attribute: :body %>
            <% if !links_f.object.new_record? %>
              <%= links_f.label :_destroy, class: 'checkbox button is-small is-rounded mt-2' do %>
                <%= links_f.check_box :_destroy %>
                Delete
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="field">
        <%= f.fields_for :tag_list do |tags_f| %>
          <%= tags_f.label :list, class: 'label is-size-5' do %>
            Tags
            <p class="my-2 is-size-7">
              Comma seperated list of tags
              <i>(Max tag count 10)</i>
            </p>
          <% end %>
          <%= tags_f.text_area :list, class: 'textarea', rows: 2 %>
          <%= render 'public/input_errors', resource: tags_f.object, attribute: :list %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="action">
    <%= f.submit class: 'button is-primary' %>
  </div>
<% end %>
