<div class="card">
  <div class="card-content pb-0">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4 mb-0"><%= post.user.first_name %> <%= post.user.last_name %></p>
        <time class="subtitle is-7">
          <%= distance_of_time_in_words(Time.now, post.created_at) %> ago 
          <% if post.edited? %>
            <span class="is-danger">(edited <%= distance_of_time_in_words(Time.now, post.updated_at) %> ago)</span>
          <% end %>
        </time>
      </div>
      <div class="media-right">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button">...</button>
          </div>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <div>
                <% if like.new_record? %>
                  <%= form_with(model: like) do |f| %>
                    <%= f.hidden_field :likeable_type, value: post.class.to_s %>
                    <%= f.hidden_field :likeable_id, value: post.id %>
                    <%= f.submit 'Like', class: 'dropdown-submit button dropdown-item has-text-left' %>
                  <% end %>
                <% else %>
                  <%= form_with(model: like, method: :delete) do |f| %>
                    <%= f.submit 'Unlike', class: 'dropdown-submit button dropdown-item has-text-left' %>
                  <% end %>
                <% end %>
              </div>
              <%= link_to 'Share', '#', class: 'dropdown-item' %>
              <% if current_user == post.user %>
                <hr class="dropdown-divider">
                <%= link_to 'Edit', edit_post_path(post), class: 'dropdown-item' %>
                <div>
                  <%= form_with(model: post, method: :delete) do |f| %>
                    <%= f.submit 'Delete', class: 'dropdown-submit button dropdown-item has-text-left' %>
                  <% end %>
                </div>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <%= turbo_frame_tag post do %>
        <p class="post-content"><%= post.content %></p>
        <% if current_user == post.user %>
          <%= link_to 'Edit', edit_post_path(post), class: 'button is-info is-small is-rounded' %>
          <%= link_to 'Delete', post, data: { turbo_method: :delete }, class: ' button is-danger is-small is-rounded' %>
        <% end %>
      <% end %>
        <div class="columns is-justify-content-space-between is-align-items-center mt-2">
          <div class="column pb-0">
            <%= link_to "#{post.comments.length} Comments", post %>
          </div>
          <div class="column pb-0 has-text-right">
            <i><%= post.likes.length %> people liked this post</i>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <% if controller_name == 'static_pages' %>
          <%= link_to 'Show', post, class: 'card-footer-item button is-success' %>
        <% end %>
      </footer>
    </div>
  </div>
</div>
