<div class="card">
  <div class="card-image">
    <figure class="image columns is-flex-direction-column is-align-items-center mt-3 <%= 'home-post' if controller_name == 'static_pages' %>">
      <% if post.video && post.video.video_present? %>
        <%= video_tag(post.video, controls: true, preload: 'none') %>
      <% else %>
        <% if action_name == 'show' %>
          <% post.images.each do |image| %>
            <%= link_to image do %>
              <%= image_tag image %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to post do %>
            <%= image_tag post.images.first.to_s %>
          <% end %>
        <% end %>
      <% end %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <%= image_tag post.user.photo, class: 'image-64x64' %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4 mb-0">
          <%= link_to post.user.full_name, post.user %>
          <% if current_user != post.user && !current_user.friend?(post.user) && !current_user.friend_request?(post.user) %>
            <%= link_to new_friend_request_path(candidate: post.user.id), class: 'has-text-primary', title: 'Send Friend Request' do |f| %>
              <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M19 17V19H7V17S7 13 13 13 19 17 19 17M16 8A3 3 0 1 0 13 11A3 3 0 0 0 16 8M19.2 13.06A5.6 5.6 0 0 1 21 17V19H24V17S24 13.55 19.2 13.06M18 5A2.91 2.91 0 0 0 17.11 5.14A5 5 0 0 1 17.11 10.86A2.91 2.91 0 0 0 18 11A3 3 0 0 0 18 5M8 10H5V7H3V10H0V12H3V15H5V12H8Z" />
              </svg>
            <% end %>
          <% end %>
        </p>
        <time class="subtitle is-7">
          <%= distance_of_time_in_words(Time.now, post.created_at) %> ago
          <% if post.edited? %>
            <span class="is-danger">(edited <%= distance_of_time_in_words(Time.now, post.updated_at) %> ago)</span>
          <% end %>
        </time>
      </div>
      <div class="media-right">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button">...</button>
          </div>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <% if current_user != post.user %>
                <div>
                  <% if like.new_record? %>
                    <%= form_with(url: likes_path(likeable: { likeable_type: 'Post', likeable_id: post.id }, path: request.path)) do |f| %>
                      <%= f.submit 'Like', class: 'dropdown-submit button dropdown-item has-text-left' %>
                    <% end %>
                  <% else %>
                    <%= form_with(url: like_path(like, path: request.path), method: :delete) do |f| %>
                      <%= f.submit 'Unlike', class: 'dropdown-submit button dropdown-item has-text-left' %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
              <%= link_to 'Share', '#', class: 'dropdown-item' %>
              <% if current_user == post.user %>
                <hr class="dropdown-divider">
                <%= link_to 'Edit', edit_post_path(post), class: 'dropdown-item', data: { turbo_frame: "post_#{post.id}" } %>
                <div>
                  <%= form_with(model: post, method: :delete) do |f| %>
                    <%= f.submit 'Delete', class: 'dropdown-submit button dropdown-item has-text-left' %>
                  <% end %>
                </div>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <%= turbo_frame_tag post do %>
        <p class="post-content my-1"><%= post.content %></p>
      <% end %>
      <% if post.links.any? %>
        <div class="columns is-align-items-center is-multiline m-0 mt-4">
          <svg style="width:20px;height:20px" viewBox="0 0 24 24" class="mr-2">
            <path fill="currentColor" d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" />
          </svg>
          <% post.links.each do |link| %>
            <%= link_to link.body, link.body, class: 'button is-small has-text-link mr-1' %>
          <% end %>
        </div>
      <% end %>
      <% if post.tag_list %>
        <div class="columns is-align-items-center is-multiline mx-0 my-3">
          <svg style="width:20px;height:20px" viewBox="0 0 24 24" class="mr-2">
            <path fill="currentColor" d="M5.5,7A1.5,1.5 0 0,1 4,5.5A1.5,1.5 0 0,1 5.5,4A1.5,1.5 0 0,1 7,5.5A1.5,1.5 0 0,1 5.5,7M21.41,11.58L12.41,2.58C12.05,2.22 11.55,2 11,2H4C2.89,2 2,2.89 2,4V11C2,11.55 2.22,12.05 2.59,12.41L11.58,21.41C11.95,21.77 12.45,22 13,22C13.55,22 14.05,21.77 14.41,21.41L21.41,14.41C21.78,14.05 22,13.55 22,13C22,12.44 21.77,11.94 21.41,11.58Z" />
          </svg>
          <% tags.each do |tag| %>
            <%= link_to tag, tag_path(s: tag), class: 'has-text-info pr-2 is-size-7' %>
          <% end %>
        </div>
      <% end %>
      <div class="columns is-justify-content-space-between is-align-items-center">
        <div class="column pb-0">
          <%= link_to "#{post.comments.length} Comments", post %>
        </div>
        <div class="column pb-0 has-text-right">
          <i><%= pluralize(post.likes.length, 'person') %> <span class="is-size-4 has-text-danger">♥</span> this post</i>
        </div>
      </div>
      <% if %w[ posts comments ].none?(controller_name) %>
        <footer class="card-footer">
          <%= link_to 'Show', post, class: 'card-footer-item button is-success' %>
      </footer>
      <% end %>
    </div>
  </div>
</div>
