<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4 mb-0"><%= post.user.first_name %> <%= post.user.last_name %></p>
        <time class="subtitle is-7">
          <%= distance_of_time_in_words(Time.now, post.created_at) %> ago 
          <% if post.edited? %>
            <span class="is-danger">(edited <%= distance_of_time_in_words(Time.now, post.updated_at) %> ago)</span>
          <% end %>
        </time>
      </div>
    </div>
    <div class="content">
      <%= turbo_frame_tag post do %>
        <p class="post-content"><%= post.content %></p>
        <% if current_user == post.user %>
          <%= link_to 'Edit', edit_post_path(post), class: 'button is-info' %>
          <%= link_to 'Delete', post, data: { turbo_method: :delete }, class: ' button is-danger' %>
        <% end %>
      <% end %>
        <div class="columns is-vcentered is-centered">
          <div class="column columns">
            <div class="column" style="width:max-content;">
              <i><%= post.likes.size %> Likes</i>
            </div>
            <% if current_user != post.user %>
              <div class="column">
                <%= link_to '/', class: 'column' do %>
                  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M23,10C23,8.89 22.1,8 21,8H14.68L15.64,3.43C15.66,3.33 15.67,3.22 15.67,3.11C15.67,2.7 15.5,2.32 15.23,2.05L14.17,1L7.59,7.58C7.22,7.95 7,8.45 7,9V19A2,2 0 0,0 9,21H18C18.83,21 19.54,20.5 19.84,19.78L22.86,12.73C22.95,12.5 23,12.26 23,12V10M1,21H5V9H1V21Z" />
                  </svg>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <%= link_to "#{post.comments.size} Comments", post %>
      </div>
      <footer class="card-footer">
        <% if controller_name == 'static_pages' %>
          <%= link_to 'Show', post, class: 'card-footer-item button is-success' %>
        <% end %>
      </footer>
    </div>
  </div>
</div>