<article class="columns is-centered is-flex-direction-column is-align-items-center">
  <div class="column is-full-tablet is-half-desktop">
    <%= render @post, like: @like, tags: @tags %>
  </div>
  <h3 class="title is-size-5">Comments</h3>
  <div class="column is-one-third columns is-justify-content-center">
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <%= image_tag current_user.image, class: 'image-64x64' %>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <%= render 'comments/form', comment: @comment, commentable: @post %>
        </div>
      </div>
    </article>
  </div>
</article>
<%= turbo_frame_tag 'comments' do %>
  <article class="columns is-centered is-flex-direction-column is-align-items-center">
      <% @comments.each do |comment| %>
        <div class="column is-full-tablet is-half-desktop">
          <%= render comment, like: comment.find_or_initialize_like(current_user) %>
          <%= render 'comments/replies', replies: comment.collect_replies %>
        </div>
      <% end %>
  </article>
  <% if @comments.length >= 20 %>
    <div class="pagination-load" hidden>
      <%= turbo_frame_tag 'comments' do %>
        <div class="has-text-centered">
          <%= link_to 'Load more', post_path(@post, p: @page + 1), class: 'button is-link' %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<% if @comments.length >= 20 || @page > 1 %>
  <div class="pagination-controls">
    <%= render 'public/resource_pagination', resources: @comments, page: @page, max_resource_count: 20, resource_path: post_path(@post) %>
  </div>
<% end %>
