<article class="columns is-centered is-flex-direction-column is-align-items-center">
  <div class="column is-full-tablet is-half-desktop">
    <%= render @post, like: @like %>
  </div>
  <div class="column is-one-third">
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <%= image_tag 'placeholder.png' %>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <%= render 'comments/form', comment: @comment, commentable: @post %>
        </div>
      </div>
    </article>
  </div>
  <% @comments.each do |comment| %>
    <div class="column is-full-tablet is-half-desktop">
      <%= render comment, like: comment.find_or_initialize_like(current_user) %>
      <%= render 'comments/replies', replies: comment.collect_replies %>
    </div>
  <% end %>
</article>
