<!DOCTYPE html>
<html>
  <head>
    <title>OdinProjectFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="navbar px-2 py-2">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1 class="title">Odin Facebook</h1>
        </a>
      </div>
      <div class="navbar-menu">
        <%= link_to 'Home', root_path, class: 'navbar-item is-size-5 has-text-weight-bold' %>
        <%= link_to 'Discover', discover_path, class: 'navbar-item is-size-5 has-text-weight-bold' %>
        <%= link_to 'Tags', tags_path, class: 'navbar-item is-size-5 has-text-weight-bold' %>
        <div class="navbar-end is-align-items-center is-4 is-variable">
          <% if user_signed_in? %>
            <% if !@notifications.empty? %>
              <%= render 'layouts/notification_menu' %>
            <% end %>
            <div class="dropdown is-hoverable is-right mr-2">
            <div class="dropdown-trigger">
              <%= link_to current_user do %>
                <figure class="image is-48x48">
                  <%= image_tag current_user.photo, class: 'is-rounded' %>
                </figure>
              <% end %>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <ul class="dropdown-content">
                <li class="dropdown-item has-text-weight-semibold">
                  Welcome, <%= current_user.full_name %>
                </li>
                <li class="dropdown-item">
                  <%= link_to "Notifications(#{@notifications.length})", notifications_path, class: 'button is-link navbar-item' %>
                </li>
                <li class="dropdown-item">
                  <%= link_to 'Friend Requests', friend_requests_path, class: 'button is-link navbar-item' %>
                </li>
                <li class="dropdown-item">
                  <%= link_to 'Edit User', edit_user_registration_path, class: 'button is-info navbar-item' %>
                </li>
                <li class="dropdown-item">
                  <%= form_with(url: destroy_user_session_path, method: :delete, id: 'sign-out-form') do |f| %>
                    <%= f.submit 'Sign Out', class: 'dropdown-submit button is-danger navbar-item' %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <% else %>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-link navbar-item is-rounded' %>
          <% end %>
        </div>
      </div>
    </nav>
    <% if flash.any? %>
      <div id="flash" class="columns is-justify-content-center is-align-items-center my-2">
        <% if flash[:notice] %>
          <p class="notice notification is-success py-3"><%= notice %></p>
        <% else %>
          <p class="alert notification is-danger py-3"><%= alert %></p>
        <% end %>
      </div>
    <% end %>
    <main class="mx-5">
      <%= yield %>
    </main>
  </body>
</html>
