<!DOCTYPE html>
<html>
  <head>
    <title>OdinProjectFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar px-2 py-2">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1 class="title">Odin Facebook</h1>
        </a>
      </div>

      <div class="navbar-menu">
        <%= link_to 'Home', root_path, class: 'navbar-item is-size-5 has-text-weight-bold' %>
        <div class="navbar-end">
          <%= link_to '/' do %>
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor" d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21" />
            </svg>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to 'Edit User', edit_user_registration_path, class: 'button is-info navbar-item mr-2' %>
            <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'button is-danger navbar-item' %>
          <% else %>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-link navbar-item is-rounded' %>
          <% end %>
        </div>
      </div>
    </nav>

    <div id="flash" class="has-text-centered">
      <% if flash[:notice] %>
        <p class="notice notification is-success"><%= notice %></p>
      <% elsif flash[:alert] %>
        <p class="alert notification is-danger"><%= alert %></p>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
